.container-about-home {
  border-top: 2px solid #ffffff;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $grey-300;
}

.about-home {
  @include outer-container();
  @include clearfix;
  background-color: $grey-300;
}

.about-item {
  @include span-columns(10);
  @include media ( min-width $break-medium ) {
  @include span-columns(8);
  }
  h2 {
    margin-bottom: 0.5em;
    a {
      color: $grey-500;
      &:hover {
        color: $orange-A100;
      }
    }
  }
}

.blog-date {
    padding-bottom: 4em;
    font-size: 0.8em;
    font-weight: 400;
}
