.container-single {
  border-top: 2px solid #ffffff;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $grey-300;

}

.single {
  @include outer-container();
  @include clearfix;
  background-color: $grey-300;
}

.single-content {
  @include clearfix;
    .single-text {
      transition: 0.3s all ease;
      position: relative;
      background-color: $grey-50;
      @include span-columns(12);
      @include omega(1n);
      margin-bottom: 20px;
      @include media ( min-width $break-medium ) {
        @include omega-reset(1n);
        @include span-columns(6);
        @include omega(2n);
      }
      @include media ( min-width $break-large ) {
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
    }
    .design-item-text {
      padding-left: 10px;
      h3 {
        margin-top: 10px;
        margin-bottom: 20px;
        a {
          color: $grey-500;
        }
      }
    }
    .design-item-overlay {
      padding: 20px;
      transition: 0.3s all ease;
      background-color: $orange-A100;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      p {
        color: $grey-50;
      }
      h3 {
        color: $grey-700;
        margin-bottom: 20px;
      }
      &:hover {
        opacity: 1;
      }
      @include media ( max-width $break-medium ) {
        display: none;
      }
    }
    .design-item-date {
      padding-bottom: 20px;
      position: absolute;
      bottom: 0;
      color: $grey-50;
      font-family: "brandon-grotesque", sans-serif;
      font-size: 0.8em;
      font-weight: 400;
      line-height: 1.25em;
      @include media ( min-width $text-medium ) {
        line-height: 1.375em;
      }
    }
  }
}

.design-header {
  @include span-columns(10);
  h2 p {
    color: $grey-500;
  }
}

.design-items {
  padding-top: 20px;
  a {
    color: $grey-500;
    &:hover {
      color: $grey-800;
    }
  }
  h4 {
    margin-bottom: 0;
  }
}
