// Glyphicons font path
$icon-font-path :        "../fonts/";

// Grid settings
$main-sm-columns :       12;
$sidebar-sm-columns :    4;

// Colors
$bluegrey-100 : #CFD8DC;
$bluegrey-200 : #B0BEC5;
$bluegrey-500 : #607D8B;
$bluegrey-800 : #37474F;
$yellow-A100 : #FFE57F;

$grey-50 : #FAFAFA;
$grey-100 : #EEEEEE;
$grey-300 : #E0E0E0;
$grey-500 : #9e9e9e;
$grey-600 : #757575;
$grey-700 : #616161;
$grey-800 : #424242;
$grey-900 : #212121;

$orange-A100 : #ff9e80;
$orange-A200 : #FF6E40;
$orange-A300 : #ff3d00;

$light : $grey-100;
$medium : $grey-500;
$dark : $grey-700;
$highlight : $orange-A200;

$text-light : $grey-300;
$text-medium : $grey-600;
$text-dark : $grey-800;

$white : #ffffff;
$black : #000000;

// Break Points & Screen Sizes

$max-width : 1200px;
$break-small : 480px;
$break-medium : 768px;
$break-large : 1024px;
$break-xlarge : 1200px;
